<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="../static/base.css" />
    <title>{% block title %} {% endblock %}</title>
  </head>

  <body>
    <header>
      <div>
        {% if user.is_authenticated %}
        <ul class="nav">
          <li>
            <a href={% url "home" %}>Home</a>
          </li>
          <li>
            <a href="#">Post</a>
          </li>
          Hi {{ user.username }}
          <li>
            <a href="#">Logout</a>
          </li>
          <li>
            <a href="#">Reset Password</a>
            {% else %}
          </li>
          <li>
            <a href={% url "signup" %}>SignUp</a>
          </li>
          <li>
            <a href={% url "login" %}>Login</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </header>
    <div>{% block content %} {% endblock %}</div>
  </body>
</html>
<header></header>
